<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Portfolio django</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <div>Daniel Martins</div>
        <nav>
            <a href="{% url 'portfolio:index' %}">Home</a>
            <a href="{% url 'portfolio:blog_home' %}">Blog</a>
            <a href="{% url 'portfolio:cadeiras_home' %}">Cadeiras</a>
            <a href="{% url 'portfolio:projetos_home' %}">Projetos</a>
            <a href="{% url 'portfolio:tecnologias_home' %}">Tecnologias</a>
            <div class="dropdown">
                <button class="dropbtn">
                    Arquivo Labs
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:pwlab1' %}">Lab1</a>
                    <a href="{% url 'portfolio:pwlab2' %}">Lab2</a>
                    <a href="{% url 'portfolio:pwlab3' %}">Lab3</a>
                    <a href="{% url 'portfolio:pwlab4' %}">Lab4</a>
                </div>
            </div>
            <a href="{% url 'portfolio:web_scraping' %}">Web Scraping</a>
            <a href="{% url 'portfolio:contacto' %}">Contacto</a>

            {% if user.is_authenticated %}
            <h3>Olá {{ user.username }}</h3>
            <a href="{% url 'portfolio:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'portfolio:login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block main %}
        <div>A dreamer is one who can only find his way by moonlight, and his punishment is that he sees the dawn before
            the rest of the world.</div>
        <p>Oscar Wilde</p>
        {% endblock %}
    </main>

    <footer id="teehee">Daniel Martins | Univeridade Lusófona, 2023</footer>
</body>

<script>
    const date = new Date();

    const monthNames = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];

    const formattedDate = `${date.getDate()} de ${monthNames[date.getMonth()]}, ${date.getFullYear()}`;
    console.log(formattedDate);

    document.getElementById('teehee').innerText = formattedDate;
</script>

</html>