<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Portfolio django</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <div>Título</div>
        <nav>
            <a href="{% url 'portfolio:index' %}">Home</a>
            <a href="{% url 'portfolio:blog_home' %}">Blog</a>
            <a href="{% url 'portfolio:discoparty' %}">Festa</a>
        </nav>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>Univeridade Lusófona, 2023</footer>
</body>

</html>