{% extends 'portfolio/index.html' %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/flex_layout.css' %}">
{% endblock %}

{% block main %}
{% if user.is_authenticated %}
<div>
    <a href="{% url 'portfolio:tecnologias_new' %}" class="btn btn-success btn-block">+ Adicionar</a>
</div>
{% endif %}


<div class="elements">
    {% for tecnologia in tecnologias %}
    <div>
        <div><a href="{{tecnologia.source_code}}" target="_blank">Repositório <i class="fa fa-code"></i></a></div>
        <div><a href="{{tecnologia.website}}" target="_blank">Website <i class="fa fa-globe"></i></a></div>
        <div>
            <p>{{tecnologia.name}}</p>
            <p>{{tecnologia.descricao}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}