{% extends 'portfolio/blog/home.html' %}

{% block main %}
<h3>Tarefa</h3>
<form action="{% url 'portfolio:blog_edit' post_id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <a href="{% url 'portfolio:blog_home' %}" role="button" class="btn btn-warning">Cancelar</a>
    <input type="submit" value="Gravar" class="btn btn-success">
    <a href="{% url 'portfolio:blog_remove' post_id %}" role="button" class="btn btn-danger">Apagar</a>
</form>

{% endblock %}