{% extends 'portfolio/index.html' %}
{% load static %}

{% block extra_head %}
<link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
{% endblock %}

{% block main %}
{% for post in posts %}
<p>
<h2>{{ post.titulo }}</h2>
<img src="{{ post.imagem.url }}" height="200px" width="auto"><br>
<span class="info">
    (by {{post.autor}} at {{ post.data.day }}/{{ post.data.month }}/{{ post.data.year }})
</span>
<br>{{ post.descricao }}
{% if user.is_authenticated %}
<a href="{% url 'portfolio:blog_edit' post.id %}" class="btn btn-warning  btn-sm"
    style="float: right; margin-right: 10px">
    Editar
</a>
{% endif %}
</p>
{% endfor %}
{% if user.is_authenticated %}
<a href="{% url 'portfolio:blog_new' %}" class="btn btn-success btn-block">+ Novo Post</a>
{% endif %}
{% endblock %}