header p {
    font-style: italic;
    color: gray;
}

body {
    background-color: #f4eded;

}

.info {
    font-size: 0.7em;
    color: lightgray;
}

main {
    width: 80vw;
    margin: auto;
    padding: 10px;
    background-color: #ddfff7;
    border-radius: 6px;
    background-image: none;
}

main p {
    text-align: left;
    padding: 20px;
    margin: 10px;
    color: white;
    background-color: mediumpurple;
    border-radius: 3px;
}

.botao {
    text-align: left;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

.hmm {
    background-color: #008CBA;
}

.nice {
    background-color: #4CAF50;
}

.uhoh {
    background-color: #f4e603;
}

.hellno {
    background-color: #f44336;
}

.post {
    background-color: #9fa2b2;
    border-radius: 5px;
    padding: 2%;
}

.comentario {
    background-color: purple;
    margin-left: 40px;
    border-radius: 10px;
    padding: 1%;
}

div+div {
    margin-top: 1vh;
}