* {
    box-sizing: border-box;
}

.elements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgb(238, 248, 248);
    padding: 50px;
}

.elements>div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.elements img {
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.elements div div:last-child {
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}